.nav{
justify-content: flex-end;
}
  
  .button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;

}

.button a{
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
} 

.btn {
    background-color:black;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border: none;
    /* color: #0061AF; */
    color: white;
    font-size: 15px;
    margin: 0 0.3rem 0.3rem 0;
    border-radius: 4rem;
}

.btn a{
    color: thistle;
    text-decoration: none;

}

.btn a:hover{
    color: yellow;
}

.dark{
    background-color: #0061AF ;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;

}

.dark a{
    color: thistle;
}
.nav-btn {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
    background-color: #0061AF;
    color: white;
    font-size: 18px;
    border-radius: 4rem;
    margin: 0.5rem 0.5rem;
}



.checkForm .btn{
    margin-block-start: 0.5rem;
}


/* .mid-btn{
    background-color: black ;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 4rem;
    margin-left: 0.5rem;
} */