
.square-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.square{
    min-width: 250px;
    width: 250px;
    height: 250px;
    padding: 20px;
    font-weight: bold;
    justify-content: space-around;
}

/* .square::after{
    content: "";
    display: block;
    padding-bottom: 100%;
} */

.square p{
    text-align: left;
    flex-direction: row;
    font-size: 11px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

