.welcome{
  height: 100vh
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Cutive&family=Cutive+Mono&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300&family=Roboto+Slab:wght@300;400&display=swap');
.logo:hover img{
  background-color: #A06EE1;
}

.stories{
  display: flex ;
  flex-wrap: wrap;
  width: 100%;
}



.stories-bg{
  background: linear-gradient(to bottom, #54BAB9, #98BAE7, #BAABDA, #A06EE1 );
}
/* .stories-text h1{
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
} */

.square-list{
  flex: 2;
  flex-wrap: wrap;
}

.typewriter{
  font-size: 17px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 65px;
    height: auto;
  }
    .monospaced {
    font-family: "Courier New", Courier, monospace;
      white-space: pre;
      display: none;
      color: white;
      max-width: 100%;
      height: auto;
    }
    
    .monospaced:after {
      content: " ";
    }
    .stories-text{
      padding: 1rem;
      flex: 1;
      width: 100vw;
      font-size: 14px;
    }

    h1.title{
     font-size: 1.65rem; 
    }
    
    .hello {
      /* font-size: 18px; */
      white-space: pre;
      font-family: "Courier New", Courier, monospace;
      text-align: center;
      color: white;
      /* color: #ED0BFF; */

    }


    .welcome{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 100vh;
      color: #151D3B;
      width: fit-content;
      block-size: fit-content;
    }

    .welcome-hello{
        width: 100%;
        height: auto;
        /* font-size: 12px; */
        max-width: 100%;
        padding: 15px;
        background: linear-gradient(to bottom, #54BAB9, #98BAE7, #BAABDA, #A06EE1 );
        /* background: linear-gradient(to left, #151D3B, #084594); */
    }
    

    .welcome-text{
      padding: 2rem;
      font-size: 15px;
    }
    
    .two-column{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      color: #151D3B;
      width: fit-content
    }

    .square-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .big-square{
      padding: 3rem;
      font-size: 14px;
      background:  #f7f5f2;
      color: #151D3B;
      font-weight: 300;
    }
    .project-right{
      padding: 3rem;
    }
    
    .big-text h1 {
      font-family: 'Tajawal', sans-serif;
        font-size: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }

      .square-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
      }
  }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .logo{
    width: 65px;
    height: auto;
  }
    .monospaced {
    font-family: "Courier New", Courier, monospace;
      white-space: pre;
      display: none;
      color: white;
      max-width: 100%;
      height: auto;
    }
    
    .monospaced:after {
      content: " ";
    }
    
    .hello {
      /* font-size: 18px; */
      white-space: pre;
      font-family: "Courier New", Courier, monospace;
      text-align: center;
      color: white;
      /* color: #ED0BFF; */
      max-width: 100%;
    }
    .stories-text{
      padding: 1.5rem;
      flex: 1;
    }
    h1.title{
     font-size: 2.5rem; 
    }
 
    .welcome{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 100%;
      color: #151D3B;
      width: fit-content;
      block-size: fit-content;
    }

    .welcome-hello{
        width: 100%;
        height: auto;
        font-size: 12px;
        max-width: 100%;
        padding: 15px;
        background: linear-gradient(to bottom, #54BAB9, #98BAE7, #BAABDA, #A06EE1 );
        /* background: linear-gradient(to left, #151D3B, #084594); */
    }
    

    .welcome-text{
      padding: 2rem;
      font-size: 15px;
    }
    
    .two-column{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      color: #151D3B;
      width: fit-content
    }

    .square-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .big-square{
      padding: 3rem;
      font-size: 14px;
      background:  #f7f5f2;
      color: #151D3B;
      font-weight: 300;
    }
    .project-right{
      padding: 3rem;
    }
    
    .big-text h1 {
      font-family: 'Tajawal', sans-serif;
        font-size: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }

      .square-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
      }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {

    .monospaced {
      font-family: "Courier New", Courier, monospace;
      white-space: pre;
      text-align: center;
      object-fit: contain;
      color: white;
      max-width: 100%;
      height: auto;
      font-size: 10px;
    }
    .monospaced:after {
      content: " ";
      white-space: pre;
      font-family: "Courier New", Courier, monospace;
    }
  
    .hello {
      white-space: pre;
      font-family: "Courier New", Courier, monospace;
      display: none;
      max-width: 100%;
    }
    .stories-text{
      padding: 3rem;
      flex: 1;
    }

    .welcome{
      display: flex;
      flex-direction: row;
      color: #151D3B;
      width: fit-content;
      block-size: fit-content;
    }
    
    .welcome-text{
      flex: 1 ;
      padding: 2rem;
    }
    
    .welcome-hello{
      width: 100%;
      flex: 2;
      height: auto;
      padding: 20px;
      object-fit: contain;
      font-size: 14px;
      background: linear-gradient(to bottom, #54BAB9, #98BAE7, #BAABDA, #A06EE1 );
    }
    
    .two-column{
      display: flex;
      flex-direction: row;
      color: #151D3B;
      max-width: 100%;
    }

    .big-square{
      flex: 1;
      padding: 3rem;
      /* background: linear-gradient(to bottom, #0061AF,  #FFBCD1);
      color: white; */
      background:  #f7f5f2;
      color: #151D3B;
      font-size: 15px;
      font-weight: 300;
    }

    .project-right{
      flex: 2;
      padding: 3rem;
    }

    .big-square h1{
        font-size: 21px;
    }


      .square-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        flex: 2;
      }
  }
  
  @media only screen and (min-width: 1025px) {
    .monospaced {
      font-family: "Courier New", Courier, monospace;
      white-space: pre;
      overflow: auto;
      text-align: center;
      color: white;
      max-width: 100%;
      height: auto;
    }

    .monospaced:after {
      content: " ";
    }
  
    .hello {
      white-space: pre;
      max-width: 100%;
      font-family: "Courier New", Courier, monospace;
      display: none;
    }

    .TopBottomLine{
      margin-top: 0;
      text-decoration: underline overline;
      text-underline-position:under;
      flex-direction: row;
      margin-block-end: 0.5em;;
  }

  .nav{
    justify-content: flex-end;
    align-items: flex-start;
  }
  .stories-text{
    padding: 3rem;
    flex: 1;
  }
  .welcome{
    display: flex;
    flex-direction: row;
    color: #151D3B;
    width: fit-content;
    height: 100vh;
    block-size: fit-content;
  }
  
  .welcome-text{
    flex: 1 ;
    padding: 3rem;
  }
  
  .welcome-hello{
    flex: 2;
    padding: 2rem;
    background: linear-gradient(to bottom, #54BAB9, #98BAE7, #BAABDA, #A06EE1 );
    /* background: linear-gradient(to bottom, #3A6351, teal, #A06EE1,  thistle ); */
    width: 100%;
    align-items: center;
  }
  /* .welcome-hello pre{
font-size: 13px;
  } */
  .two-column{
    display: flex;
    flex-direction: row;
    color: #151D3B;
  }
  .big-square{
    flex: 1;
    padding: 4rem;
    background:  #f7f5f2;
    color: #151D3B;
    font-size: 17px;
    font-weight: 300;
  }

  .project-right{
    flex: 3;
    padding: 3rem;
  }

  h1.big-text {
    font-size: 5rem;
}

.square-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    flex: 3;

  }
  }
  
  @media only screen and (min-width: 1440px) {
    .square-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      flex-wrap: wrap;
      flex: 3.15;
  
    }

    
    .grid-container{
      display: grid; 
      /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
      grid-template-rows: 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". . . . ."; 
    }

  }
