nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  nav a:hover,
  nav [class*="fa-"]:hover {
    color: var(--magenta);
  }