.timed-shapes{
    display: flex;
    min-height: 100vh;
}
.shape-form{
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
}
.shape-gallery{
    background: #F2F2F2;
    flex: 2;
    width: 100%;
    height: 500px;
    height: auto;
}