.dice{
    font-size: 3em;
    padding: 0.2em;
    /* color: #ED0BFF; */
    color: black;
}

.dice-btn{
    padding: 0.25rem 1rem;
    cursor: pointer;
    border: none;
    color: #ED0BFF;
    background-color: black;
    font-size: 15px;
    border-radius: 4rem;
}